@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  background: url("/images/bg-mobile.png") center/cover no-repeat;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container header {
  background-color: #1d2c67;
  width: 320px;
  height: 200px;
  padding: 35px 35px 0;
  border-radius: 10px 100px 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container header .logo {
  margin-bottom: 20px;
}

.container header .icons > img {
  margin: 0 1rem 0 0;
  background: #0c122c;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.container .info {
  margin-top: 1rem;
  position: relative;
  width: 320px;
  height: 160px;
  background: #1d2c67;
  border-radius: 10px;
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .info p {
  color: #dddbff;
  margin-bottom: 10px;
}

.container .info p span {
  font-weight: 700;
}

.container .info .storage-info {
  width: 100%;
}

.container .info .storage-info .progress {
  width: 100%;
  padding: 3px;
  height: 20px;
  background-color: #0c122c;
  border-radius: 10px;
}

.container .info .storage-info .progress .bar-progress {
  width: 195px;
  height: 15px;
  padding-right: 4px;
  background: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.container .info .storage-info .progress .bar-progress::after {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  background-color: #fff;
  border-radius: 50%;
}

.container .info .storage-info .legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  color: #dddbff;
  font-weight: 700;
}

.container .info .gb-left {
  position: absolute;
  bottom: -38px;
  width: 179px;
  height: 72px;
  font-size: 12px;
  background-color: #fff;
  border-radius: 10px;
  color: #0c122c;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .info .gb-left span {
  font-size: 3rem;
  margin-right: 3px;
  font-weight: 700;
}

.attribution {
  font-size: 16px;
  text-align: center;
  color: #dddbff;
  margin-bottom: 2rem;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 900px) {
  body {
    background-image: url("/images/bg-desktop.png");
    background-repeat: no-repeat;
    background-color: #0c122c;
    background-position: bottom;
    background-size: 100%;
  }
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .container header {
    width: 350px;
    margin-right: 1rem;
  }
  .container .info {
    width: 540px;
    bottom: -1rem;
  }
  .container .info .storage-info .progress .bar-progress {
    width: 340px;
  }
  .container .info .gb-left {
    top: -43px;
    right: 40px;
  }
  .container .info .gb-left::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -25px;
    display: block;
    border: 25px solid;
    border-color: transparent #fff transparent transparent;
  }
}
/*# sourceMappingURL=main.css.map */