.features {
  padding: 50px 0;

  .features-section {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 1rem;
  }
}
@media (min-width: 768px) {
  .features {

    .features-section {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 2rem;
      place-items: center;


      .feature-item {
        max-width: 400px;
      }
    }
  }
}