@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Open Sans", san-serif;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

.btn-primary {
  background-color: #ff52bf;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: #f5faff;
  font-weight: 700;
}

.btn-primary:hover {
  background-color: #ff8fd8;
}

nav {
  padding-top: 20px;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 1rem;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .btn {
  border: 1px solid #ff52bf;
  padding: .5rem 1rem;
  border-radius: 1.5rem;
  color: #ff52bf;
}

.community {
  text-align: center;
  padding: 100px 0;
}

.community h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.community p {
  margin-bottom: 3rem;
}

.community .mockup-img {
  margin: 100px auto;
}

.stats-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5rem;
  margin-bottom: 100px;
}

.stats-value h1 {
  font-size: 4rem;
}

.stats-value p {
  color: #a8a8a8;
}

.info {
  background-color: #f5faff;
}

.info .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  gap: 5rem;
}

.info .info-container h3 {
  font-size: 2rem;
  margin-bottom: 30px;
}

.info-1 {
  background-color: #fff;
  margin: 100px 0;
}

.bg-section {
  background-repeat: no-repeat;
  width: 100%;
  height: 160px;
  background-size: cover;
}

.bg-section-top-1 {
  background-image: url("https://res.cloudinary.com/teja54/image/upload/v1618222649/bg-section-top-mobile-1_depgmg.svg");
}

.bg-section-bottom-1 {
  background-image: url("https://res.cloudinary.com/teja54/image/upload/v1618222647/bg-section-bottom-mobile-1_gpm5wv.svg");
}

.bg-section-top-2 {
  background-image: url("https://res.cloudinary.com/teja54/image/upload/v1618222649/bg-section-top-mobile-2_du5acq.svg");
}

.bg-section-bottom-2 {
  background-image: url("https://res.cloudinary.com/teja54/image/upload/v1618222648/bg-section-bottom-mobile-2_cocjhm.svg");
  margin-bottom: 100px;
}

.connect {
  text-align: center;
  margin: 100px 0;
}

.connect h3 {
  font-size: 2rem;
  margin-bottom: 50px;
}

.bg-footer {
  background-image: url("https://res.cloudinary.com/teja54/image/upload/v1618222647/bg-footer-top-mobile_zw261b.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 80px;
  background-size: cover;
}

footer {
  background-color: #00252e;
  color: #fff;
  padding: 50px 0;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

footer .footer-container p {
  font-size: 1rem;
  margin-bottom: 30px;
}

footer .footer-container .address .footer-logo {
  margin-bottom: 30px;
}

footer .footer-container .address span {
  padding-right: 10px;
}

footer .footer-container .newsletter {
  margin-bottom: 50px;
}

footer .footer-container .newsletter h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}

footer .footer-container .newsletter input[type="text"] {
  display: block;
  width: 100%;
  padding: .5rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

footer .footer-container .newsletter .btn-secondary {
  border-radius: 10px;
  float: right;
  clear: both;
  margin-top: 10px;
}

footer .social-icons i {
  font-size: 1.4rem;
  cursor: pointer;
}

footer .social-icons i:hover {
  color: #ff52bf;
}

.attribution {
  font-size: 16px;
  text-align: center;
  margin-top: 1rem;
}

.attribution a {
  color: #3e52a3;
  background: #ffc600;
}

@media (min-width: 768px) {
  .community h1 {
    font-size: 2.5rem;
  }
  .community p {
    width: 70%;
    margin: 50px auto;
  }
  .stats-value {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .info .info-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: initial;
  }
  .info-1 .info-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .bg-section-top-1 {
    background-image: url("https://res.cloudinary.com/teja54/image/upload/v1618222649/bg-section-top-desktop-1_v6hnlm.svg");
  }
  .bg-section-bottom-1 {
    background-image: url("https://res.cloudinary.com/teja54/image/upload/v1618222647/bg-section-bottom-mobile-1_gpm5wv.svg");
  }
  .bg-section-top-2 {
    background-image: url("https://res.cloudinary.com/teja54/image/upload/v1618222649/bg-section-top-desktop-2_nogjhw.svg");
  }
  .bg-section-bottom-2 {
    background-image: url("https://res.cloudinary.com/teja54/image/upload/v1618222647/bg-section-bottom-desktop-2_xwmryw.svg");
  }
  .bg-footer {
    background-image: url("https://res.cloudinary.com/teja54/image/upload/v1618222647/bg-footer-top-desktop_cvu3zb.svg");
    height: 100px;
  }
}

@media (min-width: 992px) {
  .sub-container {
    max-width: 992px;
    margin: 0 auto;
    padding: 1rem;
  }
  .community h1 {
    font-size: 3rem;
  }
  .community p {
    width: 50%;
    margin: 50px auto;
  }
  .bg-footer {
    height: 130px;
  }
  footer .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  footer .footer-container .address {
    width: 40%;
  }
  footer .footer-container .newsletter {
    width: 40%;
  }
}

@media (max-width: 430px) {
  .navbar .logo img {
    width: 100px;
  }
  .bg-footer {
    height: 50px;
  }
}
/*# sourceMappingURL=main.css.map */