@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

*::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 15px;
}

body {
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.logo {
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

.navBar {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0%;
  left: 0%;
  padding: 1rem;
}

.navBar header {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.1rem 0;
}

.navBar header img {
  width: 160px;
}

.navBar header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navBar header ul li {
  margin: 0 10px;
}

.navBar header ul li a {
  color: white;
  font-family: "Alata", sans-serif;
  text-transform: capitalize;
  position: relative;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

.navBar header ul li a:hover::after {
  content: '';
  width: 40%;
  height: 2px;
  background-color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hamburger {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  display: none;
}

.hamburger .line {
  height: 2px;
  width: 70%;
  background: white;
  position: relative;
}

.hamburger .line::after, .hamburger .line::before {
  content: '';
  position: absolute;
  left: 0%;
  width: 100%;
  height: 2px;
  background-color: white;
  -webkit-transition: 0.5s ease transform;
  transition: 0.5s ease transform;
}

.hamburger .line::after {
  top: -6px;
}

.hamburger .line::before {
  top: 6px;
}

.heroSection {
  width: 100%;
  height: 100vh;
  background: url(/images/desktop/image-hero.jpg) center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.heroSection .heroText {
  padding: 20px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10%;
  border: 1.5px solid white;
}

.heroSection .heroText p {
  color: white;
  font-size: 3.5rem;
  text-transform: uppercase;
  line-height: 4rem;
}

.desktop-img {
  display: none;
}

.productContainer {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  text-align: center;
  padding: 100px 0;
}

.productContainer .productDesc h2 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 30px;
}

.productContainer .productDesc p {
  font-size: 1.1rem;
  font-family: "Alata", sans-serif;
  color: #8c8c8c;
}

.creation {
  padding-bottom: 100px;
}

.creation .desktop {
  display: none;
}

.creation .btn {
  text-transform: uppercase;
  background-color: white;
  border: 2px solid #000;
  padding: .5rem 1rem;
  cursor: pointer;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.1rem;
}

.creation .btn:hover {
  background: black;
  color: white;
}

.creation .btn-primary {
  text-align: center;
}

.creation .header {
  text-align: center;
  padding-bottom: 50px;
}

.creation .header h3 {
  font-size: 2rem;
}

.creation .creativeCont {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 20px;
  margin-bottom: 40px;
}

.creation .creativeCont > div {
  margin: 0 auto;
  height: 100px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.creation .creativeCont > div img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s ease transform;
  transition: 0.3s ease transform;
}

.creation .creativeCont > div p {
  position: absolute;
  bottom: 10%;
  left: 10%;
  color: #fff;
  font-size: 1.5rem;
  width: 50px;
  text-transform: uppercase;
}

.creation .creativeCont .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transform: 0.3s ease-in;
          transform: 0.3s ease-in;
  background-color: transparent;
}

.creation .creativeCont > div:hover .overlay {
  visibility: visible;
  background-color: rgba(255, 255, 255, 0.5);
}

.creation .creativeCont > div:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer {
  background: #000;
  padding: 50px 0;
  color: white;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 1rem;
}

footer .footer a {
  color: white;
  display: block;
  margin: 1rem 0;
}

footer .footer a:hover {
  text-decoration: underline;
}

footer .footer .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

footer .footer .social li {
  cursor: pointer;
}

footer .footer p {
  color: dimgray;
}

@media (min-width: 768px) {
  .creation .mobile {
    display: none;
  }
  .creation .desktop {
    display: block;
  }
  .creation .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    text-align: initial;
  }
  .creation .creativeCont {
    grid-row-gap: 2rem;
  }
  .creation .creativeCont > div {
    height: 400px;
    width: 230px;
  }
  footer .footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: initial;
  }
  footer .footer .logo {
    margin-bottom: 10px;
  }
  footer .footer a {
    display: initial;
  }
  footer .footer a:hover {
    text-decoration: underline;
  }
  footer .footer .social {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .mobile-img {
    display: none;
  }
  .desktop-img {
    display: block;
  }
  .productContainer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
    position: relative;
  }
  .productContainer .productLogo {
    z-index: -1;
  }
  .productContainer .productDesc {
    background-color: white;
    width: 400px;
    padding: 3rem;
    position: absolute;
    bottom: 100px;
    right: 100px;
  }
  .productContainer .productDesc h2 {
    margin-bottom: 10px;
  }
  .productContainer .productDesc p {
    margin-bottom: 0;
    text-align: left;
  }
}

@media (max-width: 767px) {
  .heroSection {
    background: url(/images/mobile/image-hero.jpg) center/cover no-repeat;
  }
  .heroSection .heroText {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: auto;
  }
  .heroSection .heroText p {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .logo {
    z-index: 11;
  }
  .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 11;
  }
  header .navList ul {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    left: 100%;
    -webkit-transition: 0.5s ease-in left;
    transition: 0.5s ease-in left;
  }
  header .navList ul li {
    padding: 20px;
    text-transform: uppercase;
    position: relative;
  }
  header .navList ul li a {
    text-transform: uppercase;
    font-family: "Josefin Sans", sans-serif;
    letter-spacing: 1px;
    color: white;
  }
  header .navList.active ul {
    left: 0;
  }
  header .navList.active .hamburger .line {
    background-color: transparent;
  }
  header .navList.active .hamburger .line::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0%;
  }
  header .navList.active .hamburger .line::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 0%;
  }
}

@media (max-width: 400px) {
  .heroSection .heroText p {
    font-size: 2rem;
  }
}
/*# sourceMappingURL=main.css.map */