@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

// colors
$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 55%);
$very-dark-gray: hsl(0, 0%, 41%);

// fonts
$alata-font: 'Alata', sans-serif;
$josefin-font: 'Josefin Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $josefin-font;
}
*::after, *::before {
  box-sizing: inherit;
}
html {
  font-size: 15px;
}
body {
  overflow-x: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.logo {
  cursor: pointer;
}
.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 1rem;
}
img {
  max-width: 100%;
  height: auto;
}